@font-face {
    font-family: 'Arial-MT';
    src: url('./assets/fonts/Arial-MT.woff') format('woff');
}

@font-face {
    font-family: 'LuckiestGuy-Reg';
    src: url('./assets/fonts/LuckiestGuy-Regular.woff') format('woff');
}